{% extends 'task/layout.html' %}

{% block content %}
<h4 class="center-align"> {{habit.habit_name}} </h4>
<div class="container"> <p>
  <h6>Description:</h6> {{habit.habit_desc}} <br>
  <h6>Priority:</h6> {{habit.habit_priority}} <br>
  <h6>Current Streak:</h6> {{habit.current_streak}} <br>
  <h6>Longest Streak:</h6> {{habit.longest_streak}} <br>
  <h6>Start Date:</h6> {{habit.start_date}} <br>
  <h6>Tracked Days:</h6> {{habit.tracked_days}} <br>
  <h6>Active:</h6> {{habit.active}} <br>
</p>

<a href="/task/editform/{{habit.id}}/" class="btn">Edit</a>
<a href="\task" class="btn">Go Back</a>
{% endblock %}
