{% extends 'task/layout.html' %}

{% block content %}
<h4 class="center-align"> {{ user.profile.name }}'s Habits </h4>

<br>
  {% if is_empty %}

  <div class="center-align grey-text text-darken-1">You have no habits. Click 'Add a Habit' to begin! </div>

  {% endif %}
  <div class="row">
  {% for habit in incomplete_habit %}
    <div class="col l6 m6 s12">
      <div class="card hoverable">
        <div class="card-content">
        <span class="card-title"><a href="/task/{{habit.id}}">{{habit.habit_name}}</a></span>
        Days Completed: {{ habit.current_streak }}


        <div class="right valign-wrapper">
          <form method = "post">
            {% csrf_token %}
            <button onclick="return confirm('Are you sure?')" class="btn-floating" type="submit" name="delete" value="{{habit.id}}">
              <i class="material-icons">delete</i></button>
            <a href="/editform/{{habit.id}}/" class="btn-floating">
              <i class="material-icons">edit</i></a>
            <button class="btn-floating" type="submit" name="complete" value="{{habit.id}}">
              <i class="material-icons">check</i></button>
          </form>
        </div>

      </div>
      </div>
    </div>
  {% endfor %}

  {% for habit in complete_habit %}
    <div class="col l6 m6 s12">
      <div class="card grey lighten-3 hoverable">
        <div class="card-content">
        <span class="card-title"><a href="/task/{{habit.id}}">{{habit.habit_name}}</a></span>
        Days Completed: {{ habit.current_streak }}


        <div class="right valign-wrapper">
          <form method = "post">
            {% csrf_token %}
            <button onclick="return confirm('Are you sure?')" class="btn-floating" type="submit" name="delete" value="{{habit.id}}">
              <i class="material-icons">delete</i></button>
            <a href="/editform/{{habit.id}}/" class="btn-floating">
              <i class="material-icons">edit</i></a>
            <button class="btn-floating disabled" type="submit" name="complete" value="{{habit.id}}">
              <i class="material-icons">check</i></button>
          </form>
        </div>

      </div>
      </div>
    </div>
  {% endfor %}

</div>
{% endblock %}
