{% extends 'task/layout.html' %}

{% block content %}

<h4 class="center-align"> My Habits </h4>

<br>
  <div class="row">
  {% for habit in incomplete_habit %}
    <div class="col s6">
      <div class="card hoverable">
        <div class="card-content">
        <span class="card-title"><a href="/task/{{habit.id}}">{{habit.habit_name}}</a></span>
        Days Completed: {{ habit.day_counter }}


        <div class="right valign-wrapper">
          <form method = "post">
            {% csrf_token %}
            <button class="btn-floating" type="submit" name="delete" value="{{habit.id}}">
              <i class="material-icons">delete</i></button>
            <a href="/editform/{{habit.id}}/" class="btn-floating">
              <i class="material-icons">edit</i></a>
            <button class="btn-floating" type="submit" name="complete" value="{{habit.id}}">
              <i class="material-icons">check</i></button>
          </form>
        </div>

      </div>
      </div>
    </div>
  {% endfor %}

  {% for habit in complete_habit %}
    <div class="col s6">
      <div class="card grey lighten-3 hoverable">
        <div class="card-content">
        <span class="card-title"><a href="/task/{{habit.id}}">{{habit.habit_name}}</a></span>
        Days Completed: {{ habit.day_counter }}


        <div class="right valign-wrapper">
          <form method = "post">
            {% csrf_token %}
            <button class="btn-floating" type="submit" name="delete" value="{{habit.id}}">
              <i class="material-icons">delete</i></button>
            <a href="/editform/{{habit.id}}/" class="btn-floating">
              <i class="material-icons">edit</i></a>
            <button class="btn-floating disabled" type="submit" name="complete" value="{{habit.id}}">
              <i class="material-icons">check</i></button>
          </form>
        </div>

      </div>
      </div>
    </div>
  {% endfor %}

</div>
{% endblock %}


<!--
      <li class="collection-item">
        <span class="title"><a href="/task/{{habit.id}}"><h6>{{habit.habit_name}}</h6></a></span>
          <a class="secondary-content">
            <form method = "post">
              {% csrf_token %}
              <button class="btn-floating" type="submit" name="delete" value="{{habit.id}}">
                <i class="material-icons">delete</i></button>
              <button class="btn-floating" type="submit" name="edit" value="{{habit.id}}">
                <i class="material-icons">edit</i></button>
              <button class="btn-floating" type="submit" name="complete" value="{{habit.id}}">
                <i class="material-icons">check</i></button>
            </form>
          </a>

          Days Completed: {{habit.day_counter }} <br>
          <br>
      </li>


</ul>

-->
