<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,
  initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible"
  content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!--<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>-->
  {% load static %}
  <script src="{% static "js/jquery.js" %}"></script>
  <script src="{% static "js/setup-jquery.js" %}"></script>
  <title>thirtydays</title>
</head>
<body>
  <header class="container center-align">
    <h1>thirtydays</h1>
  </header>

  <div class="container">
    {% block content %}
    {% endblock %}
    <br>

    <a style="display:block" class="center-align" href="/admin">Admin Login</a>
  </div>
</body>
</html>
