{% extends 'task/layout.html' %}

{% block content %}
<h4 class="center-align"> {{ user.profile.name }}'s Profile </h4>

<div class="block">
    <div class="row">
      <img class="col" width="200" height="200" src="{{ user.profile.image.url }}">
      <div class="col l8 offset-l1 offset-s0 offset-m0" >
        <h5> Profile Info </h5>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
            {{ p_form.as_p }}
            {{ u_form.as_p }}
            <a href="\task"><input class = "btn" type="submit" value="Update"></a>
            <a href="\task" class="btn">Go Back</a>
        </form>
      </div>
  </div>
</div>

{% endblock content %}
